[Desktop Entry]
Version=1.0
Name=dfmount Forensic Storage Manager
GenericName=Forensic Disk Mounter TUI
Comment=Mount evidence write-blocked with zero journal replay or unblock target drives
Exec=kitty --title "dfmount - Forensic Storage Manager" -e sudo dfmount
Icon=drive-harddisk-system
Terminal=false
Type=Application
Categories=System;Forensics;Utility;
Keywords=forensics;mount;writeblock;target;dfdisk;
StartupNotify=true
